/**  ============================================================
||                        Breakpoints                        ||
============================================================== */
$mobile: 320px;
$large-mobile: 768px;
$tablet: 1024px;
$small-desktop: 1160px;
$desktop: 1280px;
$large-desktop: 1920px;
$xl-desktop: 2560px;
