/**  ======================================================
||                        Colors                       ||
======================================================= */
// Main source colors
:root {
// Color name
  --color-white: #fff;
  --color-black: #000;
  --color-pink-conserto: #E95196;
}

